# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
.eclipse/

# Node.js files
node_modules/

# Log files
*.log

# Build files
/dist/
/build/

# Environment files
.env
.env.local